body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:727px;
  color:#09189E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:727px;
}
#u1 {
  position:absolute;
  left:2px;
  top:356px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:51px;
  top:14px;
  width:205px;
  height:40px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:34px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:40px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:55px;
  top:58px;
  width:203px;
  height:27px;
  font-family:'AppleColorEmoji', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#09829E;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:27px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:266px;
  top:35px;
  width:60px;
  height:33px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  background-color:#DEDEDE;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8_input:disabled {
  color:grayText;
}
#u9 {
  position:absolute;
  left:100px;
  top:116px;
  width:600px;
  height:90px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:90px;
}
#u10 {
  position:absolute;
  left:2px;
  top:37px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:219px;
  width:600px;
  height:385px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:385px;
}
#u12 {
  position:absolute;
  left:2px;
  top:184px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:114px;
  top:266px;
  width:576px;
  height:69px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#225599;
  line-height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:469px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:473px;
  top:0px;
  width:98px;
  height:32px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:32px;
  width:473px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#225599;
  line-height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:32px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:469px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:473px;
  top:32px;
  width:98px;
  height:32px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:110px;
  top:230px;
  width:580px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:22px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:117px;
  top:230px;
  width:184px;
  height:26px;
  font-size:16px;
  color:#337722;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:26px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:114px;
  top:292px;
  width:571px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:554px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:571px;
  height:1px;
}
#u27 {
  position:absolute;
  left:114px;
  top:323px;
  width:571px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:554px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:571px;
  height:1px;
}
#u28 {
  position:absolute;
  left:294px;
  top:814px;
  width:210px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:614px;
  width:800px;
  height:80px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:80px;
}
#u31 {
  position:absolute;
  left:2px;
  top:32px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:266px;
  top:633px;
  width:267px;
  height:38px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:38px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:8px;
  top:704px;
  width:310px;
  height:20px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:124px;
  top:135px;
  width:50px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:200px;
  top:140px;
  width:54px;
  height:16px;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:189px;
  top:165px;
  width:157px;
  height:13px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:568px;
  top:150px;
  width:117px;
  height:23px;
  font-size:20px;
  color:#039AE3;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:301px;
  top:237px;
  width:57px;
  height:14px;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:114px;
  top:398px;
  width:576px;
  height:69px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#225599;
  line-height:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:32px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:469px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:473px;
  top:0px;
  width:98px;
  height:32px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:32px;
  width:473px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#225599;
  line-height:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:32px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:469px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:473px;
  top:32px;
  width:98px;
  height:32px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:117px;
  top:362px;
  width:184px;
  height:26px;
  font-size:16px;
  color:#337722;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:26px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:114px;
  top:424px;
  width:571px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:554px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:571px;
  height:1px;
}
#u58 {
  position:absolute;
  left:114px;
  top:455px;
  width:571px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:554px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:571px;
  height:1px;
}
#u59 {
  position:absolute;
  left:301px;
  top:369px;
  width:57px;
  height:14px;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:114px;
  top:522px;
  width:576px;
  height:69px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#225599;
  line-height:28px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:32px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:469px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:473px;
  top:0px;
  width:98px;
  height:32px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:32px;
  width:473px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#225599;
  line-height:28px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:32px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:469px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:473px;
  top:32px;
  width:98px;
  height:32px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:117px;
  top:486px;
  width:184px;
  height:26px;
  font-size:16px;
  color:#337722;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:26px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:114px;
  top:548px;
  width:571px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:554px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:571px;
  height:1px;
}
#u73 {
  position:absolute;
  left:114px;
  top:579px;
  width:571px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:554px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:571px;
  height:1px;
}
#u74 {
  position:absolute;
  left:301px;
  top:493px;
  width:57px;
  height:14px;
  font-size:14px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:615px;
  top:359px;
  width:70px;
  height:30px;
  color:#CA6445;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:544px;
  top:36px;
  width:49px;
  height:25px;
  font-size:24px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:666px;
  top:35px;
  width:90px;
  height:28px;
  font-size:24px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:626px;
  top:34px;
  width:30px;
  height:30px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:756px;
  top:44px;
  width:12px;
  height:12px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u85 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
