body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:727px;
  color:#09189E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:727px;
}
#u1 {
  position:absolute;
  left:2px;
  top:356px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:51px;
  top:14px;
  width:205px;
  height:40px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:34px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:40px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:55px;
  top:58px;
  width:203px;
  height:27px;
  font-family:'AppleColorEmoji', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#09829E;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:27px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:266px;
  top:35px;
  width:60px;
  height:33px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  background-color:#DEDEDE;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8_input:disabled {
  color:grayText;
}
#u9 {
  position:absolute;
  left:100px;
  top:144px;
  width:600px;
  height:430px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:430px;
}
#u10 {
  position:absolute;
  left:2px;
  top:207px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:294px;
  top:814px;
  width:210px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:614px;
  width:800px;
  height:80px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:80px;
}
#u14 {
  position:absolute;
  left:2px;
  top:32px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:266px;
  top:633px;
  width:267px;
  height:38px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:38px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:8px;
  top:704px;
  width:310px;
  height:20px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:529px;
  top:36px;
  width:97px;
  height:25px;
  font-size:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:636px;
  top:35px;
  width:137px;
  height:28px;
  font-size:24px;
  color:#039AE3;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:119px;
  top:159px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:115px;
  top:182px;
  width:570px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:570px;
  height:1px;
}
#u26 {
  position:absolute;
  left:260px;
  top:291px;
  width:280px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:276px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:260px;
  top:238px;
  width:280px;
  height:40px;
  color:#CCCCCC;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:282px;
  top:410px;
  width:92px;
  height:13px;
  color:#666666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:260px;
  top:408px;
  width:20px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:376px;
  top:410px;
  width:53px;
  height:13px;
  text-decoration:underline;
  color:#039AE3;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:260px;
  top:450px;
  width:280px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:260px;
  top:344px;
  width:280px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:276px;
  word-wrap:break-word;
}
